* {
	line-height: 1.75em;
}

html, body {
	height: 100%;
}

body {
	color: #777;
	background: url("");
}

h1{
  padding: 0px 20px 20px 20px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 30px;
  color: #304536;
}

h3 {
	padding: 0px 20px 20px 20px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 30px;
	color: #304536;
}

.authimg {
	width: 200px;
	float: left;
	margin: 5px 20px 0px 0px;
}

.panel {
	padding: 0px;
	margin-top: 25px;
}

.panel-heading {
	padding: 15px 0px;
}

.panel-body {
	padding: 25px 0px;
}

.panel-title {
	font-size: 23px;
	font-weight: 700;
	color:#304536;
}

.main {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 15px 45px 25px 45px;
  margin: 25px 0px;
}

.footer-block {
  	padding: 30px 0;
  	font-size: 12px;
  	color: #fff;
  	color: #ccc;
  	border-top: 8px solid#777777;
  	height: 105px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    background-color: #777777;
}

.thumbnail .caption {
	padding: 0;
}

.caption p {
	margin: 0;
	color: white;
	font-size: 16px;
	padding: 0;
}

button {
	margin: 20px 0px 0px 5px;
}

.img-responsive.img-crystal{
	width: 100%;
	float: left;
	margin: 5px 20px 0px 0px;
}

.img-responsive{
	width: 100%;
	float: left;
	margin: 5px 20px 0px 0px;
}

/*sticky footer*/
.wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -105px;
	padding: 0 0 105px;
}
